body{
  background: radial-gradient(#9696e4,#4545ee);
  font-size: 1.2em;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  min-height: 50vh;
}
#songList{
  background:lightcyan;
  border-radius: 10px;
  text-align: left;
}
li{
  padding: 15px;
}
li:hover,svg:hover{
  cursor: pointer;
}
#controls{
  border: 1px lightgreysolid;
  border-radius: 10px;
  background: lightcyan;
  padding: 1.5em;
}
svg{
  color: lightslategrey;
}
progress{
  width: 80%;
  margin: 10px;

}
